* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* shared style */


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.btn {
  background-color: #469165;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 12.5px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.btn2 {
  border: 1px solid white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 12.5px 16px;
  cursor: pointer;
  background-color: transparent;
  color: white;

}

/* hover effect */
.btn:hover {
  background-color: #22bdd17c;
}

.btn2:hover {
  background-color: rgba(29, 138, 42, 0.637);
}

.justify {
  display: flex;
  justify-content: center;
  gap: 16px;

}




/* main style */

/* nav */
nav {
  width: 85%;
  max-width: 1360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin: 16px 120px;
}

nav .logo {
  max-width: 139px;
}

nav .menu {
  display: flex;
  gap: 32px;
  list-style: none;

  justify-content: center;
  align-items: center;

}

nav .menu a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

/* hero-section */
.hero-section {
  max-width: 1600vw;
  height: 674px;
  background: url('../assets/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container {
  padding: 115px 120px;
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;

}

.hero-container .sub-heading {
  color: #469165;
  border-radius: 1000px;
  max-width: 240px;
  padding: 8px 12px;
  background-color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 16px;
}

.hero-container .banner-textcontent {
  max-width: 770px;
  margin: 0 auto;


}

.banner-textcontent h2 {
  color: #FFFFFF;
  line-height: 84px;
  font-size: 72px;
  margin-bottom: 16px;
}

.banner-textcontent span {
  color: #30B868;

}

.banner-textcontent p {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 32px;
  padding-left: 38px;
  margin-right: 100px;
}

#note-section .text-content{
  padding-top:5%;
  width:85% ;
  max-width: 1360px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 44px;
}
.text-content h2{
  font-size: 48px;
  color: #001931;
  margin-bottom: 16px;
}
.text-content p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom:44px;
}
.card-container{
  
  max-width: 1360px;
  display: flex;
  gap: 24px;
  margin: 0 auto;
}
.card-container .cards{
  max-width: 322px;
  height: 300px;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0px 0px 8px 0px ;

}
.card-1 .card-info .circle{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin: 70px auto;
  margin-bottom:16px;
  background: url(../assets/Vector.png) , rgba(249, 85, 85, 1);
  background-repeat: no-repeat;
  background-position: center
  
}
.card-2 .card-info .circle{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin: 70px auto;
  margin-bottom:16px;
  background: url(../assets/Bookmarks.png) , rgba(249, 85, 85, 1);
  background-repeat: no-repeat;
  background-position: center
  
}
.card-3 .card-info .circle{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin: 70px auto;
  margin-bottom:16px;
  background: url(../assets/Brain.png) , rgba(249, 85, 85, 1);
  background-repeat: no-repeat;
  background-position: center
  
}
.card-4 .card-info .circle{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin: 70px auto;
  margin-bottom:16px;
  background: url(../assets/Info.png) , rgba(249, 85, 85, 1);
  background-repeat: no-repeat;
  background-position: center
  
}

.card-info h3{
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 16px;
  text-align: center;
}
.card-info p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 16px;
  text-align: center;
}



